<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 配置包扫描器，扫描所有带@Service注解的类 -->
    <context:component-scan base-package="com.tmall"/>
    <!-- 使用Dubbo发布服务 -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="tmall-service"/>
    <!-- 注册中心的地址 -->
    <dubbo:registry protocol="zookeeper" address="192.168.25.136:2181"/>
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880"/>

    <dubbo:service interface="com.tmall.service.CategoryService" ref="categoryServiceImpl"></dubbo:service>

    <dubbo:service interface="com.tmall.service.PropertyService" ref="propertyServiceImpl"></dubbo:service>

    <dubbo:service interface="com.tmall.service.ProductService" ref="productServiceImpl"></dubbo:service>

    <dubbo:service interface="com.tmall.service.ProductImageService" ref="productImageServiceImpl"></dubbo:service>

    <dubbo:service interface="com.tmall.service.UserService" ref="userServiceImpl"></dubbo:service>

    <dubbo:service interface="com.tmall.service.PropertyValueService" ref="propertyValueServiceImpl"></dubbo:service>

    <dubbo:service interface="com.tmall.service.OrderService" ref="orderServiceImpl"></dubbo:service>

    <dubbo:service interface="com.tmall.service.ForeService" ref="foreServiceImpl"></dubbo:service>
</beans>
